{% extends 'base.html' %}
{% block content %}
<div class="header">
    <h1>PATIENT DATABASE MANAGEMENT</h1>
</div>
<div class="nav">
    <a href="{{ url_for('add_patient') }}" class="nav-button">
        <span>+</span> Add Patient
    </a>
    <form action="{{ url_for('patient_details') }}" method="get" style="display: flex; width: 100%; max-width: 400px;">
        <input type="text" id="search_query" name="search_query" placeholder="Search by Reg. No. or Screening No." required style="flex-grow: 1; border-top-right-radius: 0; border-bottom-right-radius: 0;">
        <button type="submit" class="button" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">Search</button>
    </form>
</div>
{% if error %}
<p class="error-message">{{ error }}</p>
{% endif %}
{% endblock %}
